<% position_musician = [["65px", "306px"], ["290px", "260px"], ["485px", "130px"], ["290px", "172px"], ["112px", "174px"], ["318px", "327px"], ["411px", "343px"], ["37px", "295px"]] %>
<% position_photographer = [["100px", "122px"], ["150px", "330px"], ["240px", "170px"], ["40px", "380px"], ["200px", "340px"], ["140px", "390px"], ["240px", "120px"], ["340px", "210px"]] %>
<% position_sculptor = [["140px", "130px"], ["150px", "330px"], ["240px", "170px"], ["40px", "380px"], ["200px", "340px"], ["140px", "390px"], ["240px", "120px"], ["340px", "210px"]] %>
<% position_painter = [["140px", "130px"], ["150px", "330px"], ["240px", "170px"], ["40px", "380px"], ["200px", "340px"], ["140px", "390px"], ["240px", "120px"], ["340px", "210px"]] %>

<div class="container-index">

  <div class="music-artists">
        <div class="constellation-music">
          <div class="box-artist-music">
            <% i = 0 %>
            <% @musicians.each do |artist| %>
                <% if i < 8  %>
              <%= link_to artist_path(artist), class: 'artist-star', style: "top: #{position_musician[i][0]}; left: #{position_musician[i][1]}" do %>
                <%# # A enlever quand les paires seront faites : (le if end) %>
                  <div class="star-music-artist star-music-s live"></div>
                  <%= render 'artist_info_window', artist: artist %>
                <% end %>
                <% i += 1 %>
              <% end %>
            <% end %>

          </div>
          <div class="first">
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-s"></div>
            <div class="second">
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-m"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-m"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="third">
                <div class="star-music star-music-xs"></div>
                <div class="star-music star-music-xs"></div>
                <div class="star-music star-music-xs"></div>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="photographer-artists">
      <div class="constellation-photographer">
        <div class="box-artist-photographer">
          <% i = 0 %>
          <% @photographers.each do |artist| %>
              <% if i < 8  %>
            <%= link_to artist_path(artist), class: 'artist-star', style: "top: #{position_photographer[i][0]}; left: #{position_photographer[i][1]}" do %>
              <%# # A enlever quand les paires seront faites : (le if end) %>
                <div class="star-photographer-artist star-photographer-s live"></div>
                <%= render 'artist_info_window', artist: artist %>
              <% end %>
              <% i += 1 %>
            <% end %>
          <% end %>
        </div>
        <div class="first">
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>

          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="second">
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
                    <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-m"></div>
                    <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="third">
              <div class="star-photographer star-photographer-xs"></div>
              <div class="star-photographer star-photographer-xs"></div>
              <div class="star-photographer star-photographer-xs"></div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="sculptor-artists">
      <div class="constellation-sculptor">
        <div class="box-sculptor-artist">
            <% i = 0 %>
            <% @sculptors.each do |artist| %>
                <% if i < 8  %>
              <%= link_to artist_path(artist), class: 'artist-star', style: "top: #{position_sculptor[i][0]}; left: #{position_sculptor[i][1]}" do %>
                <%# # A enlever quand les paires seront faites : (le if end) %>
                  <div class="star-sculptor-artist star-sculptor-s live"></div>
                  <%= render 'artist_info_window', artist: artist %>
                <% end %>
                <% i += 1 %>
              <% end %>
            <% end %>
        </div>
        <div class="first">
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="second">
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-m"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
                    <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-m"></div>
                    <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="third">
              <div class="star-sculptor star-sculptor-xs"></div>
              <div class="star-sculptor star-sculptor-xs"></div>
              <div class="star-sculptor star-sculptor-xs"></div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="painter-artists">
        <div class="constellation-painter">
          <div class="box-painter-artist">
            <% i = 0 %>
            <% @painters.each do |artist| %>
                <% if i < 8  %>
              <%= link_to artist_path(artist), class: 'artist-star', style: "top: #{position_painter[i][0]}; left: #{position_painter[i][1]}" do %>
                <%# # A enlever quand les paires seront faites : (le if end) %>
                  <div class="star-painter-artist star-painter-s live"></div>
                  <%= render 'artist_info_window', artist: artist %>
                <% end %>
                <% i += 1 %>
              <% end %>
            <% end %>
          </div>
          <div class="first-painter">
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-s"></div>
            <div class="second-painter">
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-m"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
                      <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-m"></div>
                      <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="star-painter star-painter-l"></div>
              <div class="third-painter">
                <div class="star-painter star-painter-xs"></div>
                <div class="star-painter star-painter-xs"></div>
                <div class="star-painter star-painter-xs"></div>
              </div>
            </div>
          </div>
        </div>
  </div>

</div>
