<% position = [["140px", "130px"], ["150px", "330px"], ["240px", "170px"], ["40px", "380px"], ["200px", "340px"], ["140px", "390px"], ["240px", "120px"], ["340px", "210px"]] %>

<div class="container-index">

  <div class="music-artists">
        <div class="constellation-music">
          <div class="box-artist-music">
            <% i = 0 %>
            <% @musicians.each do |artist| %>
              <%= link_to artist_path(artist), class: 'artist-star' do %>
                <%# # A enlever quand les paires seront faites : (le if end) %>
                <% if i < 8  %>
                  <div class="star-music-artist star-music-s live" style="top: <%= position[i][0] %> ; left: <%= position[i][1]  %>"></div>
                  <%= render 'artist_info_window', artist: artist %>
                <% end %>
                <% i += 1 %>

              <% end %>
            <% end %>

          </div>
          <div class="first">
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-s"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-s"></div>
            <div class="second">
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-m"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-m"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="star-music star-music-l"></div>
              <div class="third">
                <div class="star-music star-music-xs"></div>
                <div class="star-music star-music-xs"></div>
                <div class="star-music star-music-xs"></div>
              </div>
            </div>
          </div>
        </div>
  </div>

    <div class="photographer-artists">
        <div class="constellation-photographer">
          <div class="box-artist-photographer">
            <% i  = 0 %>
            <% @photographers.each do |artist| %>
              <%= link_to artist_path(artist), class: 'artist-star' do %>
                <%# # A enlever quand les paires seront faites : (le if end) %>
                <% if i < 8  %>
                  <div class="star-photographer-artist star-photographer-s live" style="top: <%= position[i][0] %> ; left: <%= position[i][1]  %>"></div>
                  <%= render 'artist_info_window', artist: artist %>
                <% end %>
                <% i += 1 %>

              <% end %>
            <% end %>

          </div>
          <div class="first">
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>

            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-s"></div>
            <div class="second">
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-m"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
                      <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-m"></div>
                      <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="star-photographer star-photographer-l"></div>
              <div class="third">
                <div class="star-photographer star-photographer-xs"></div>
                <div class="star-photographer star-photographer-xs"></div>
                <div class="star-photographer star-photographer-xs"></div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
