
    <div class="align-items-center d-flex justify-content-between page-artist w-100">

      <div class="d-flex flex-column justify-content-center align-items-center w-25 px-3">
        <div class="artist-image-show smaller">
            <%= cl_image_tag(@artist.photo.key) %>

            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="my-5">
            <h3 class="artist-card-title-live text-center"><%= @artist.first_name %>-<%= @artist.last_name %></h3>
            <h5 class=" text-center"><%= @artist.category.name %></h5>
        </div>
        <div class="bouton-artist d-flex justify-content-between w-50">
          <%= render 'copy_link', value: live_artist_url(@artist), cta: 'Share' %>
          <div>
            <i class="fa-solid fa-donate" style="font-size: 19px; margin-left: 4px;"></i>
            <% if @artist.donates.any?  %>
              <p><%= @artist.donates.pluck(:amount).sum %>€</p>
            <% else %>
              <p>0€</p>
            <% end %>
          </div>
          <%= link_to new_artist_donate_path(@artist), class: "text-center" do %>
            <i class="fa-solid fa-sack-dollar"></i>
            <p>donate</p>
          <% end %>
        </div>
      </div>


        <div class="my-3-live w-75">
          <div class="">
            <% if @artist.user == current_user %>
              <iframe
                src="<%= @artist.host_url %>"
                allow="camera; microphone; fullscreen; speaker; display-capture"
                class="px-3 w-100"
              ></iframe>
            <% else %>
              <iframe
                src="<%= @artist.visitor_url %>"
                allow="camera; microphone; fullscreen; speaker; display-capture"
              ></iframe>
            <% end %>
          </div>
        </div>

    </div>
