<div class="align-items-center d-flex h-75 justify-content-center page-artist">
    <div class="artist-card-show text-center w-50 d-flex flex-column align-items-center justify-content-center">

        <div class="artist-image-show my-3">
            <%= cl_image_tag(@artist.photo.key) %>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="my-2">
            <h3 class="artist-card-title"><%= @artist.first_name %>-<%= @artist.last_name %></h3>
            <h5><%= @artist.category.name %></h5>
        </div>
        <i class="fa-solid fa-sack-dollar"></i>
        <% if @artist.donates.any?  %>
          <%= @artist.donates.pluck(:amount).sum %>€
        <% else %>
          0€
        <% end %>

        <div class="my-3 w-50">
          <p><%= @artist.description %></p>
        </div>

        <div class="bouton-artist d-flex justify-content-between w-25">
         <%= render 'copy_link', value: artist_url(@artist), cta: 'Share' %>


          <% if @artist.user == current_user %>
            <%= link_to live_artist_path(@artist), class: "" do %>
              <i class="fa-solid fa-video"></i>
              <p>live</p>
            <% end %>

          <% end %>
          <%= link_to  new_artist_donate_path(@artist), class: "" do %>
            <i class="fa-solid fa-sack-dollar"></i>
            <p>donate</p>
          <% end %>
        </div>
    </div>


</div>
