<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="">
    <ul class="nav navbar-nav">
            <li class="dropdown">
            <i class="fa-solid fa-list"></i>
              <%# <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a> %>
              <ul class="dropdown-menu">
                <li><%= link_to "Categories", artists_path, class: "dropdown-item" %></li>
                <li><%= link_to "Artists", artists_path, class: "dropdown-item" %></li>
                <li><%= link_to "News", news_path, class: "dropdown-item" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "FAQs", faq_path, class: "dropdown-item" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Contacts", contacts_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          </ul>
      </div>
    </nav>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "cosmos-logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user && current_user.artist %>
                <%= link_to "My profile", artist_path(current_user.artist), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Start Live", "#", class: "dropdown-item" %>
              <%= link_to "Message", "#", class: "dropdown-item" %>
              <%= link_to "Activity", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "About", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Explore", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>







<%# <nav class="navbar navbar-dark bg-primary">
    <ul class="navbar-nav">
     <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          Menu
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
      <!-- Avatar -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
            class="rounded-circle"
            height="22"
            loading="lazy"
          />

        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Visibility</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Activities</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav> %>
